header {
    grid-area: header;
    background-color: $color-secundario;
    position: static;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h1 {
        font-family: 'Inter', sans-serif;
        font-family: 'Luckiest Guy', cursive;
        font-size: 100px;
        font-weight: 1000;
        font-style:normal;
        color: nth($colores, 6 );
        transition: 3s;
        a{
            text-decoration: none;
            color: nth($colores, 6 );
        }
    }
}
