$color-primario: black;
$color-secundario: white;
$color-terciario: gray;

$colores:
red
black
white
orange
tomato
;

$boton:(
    bg-boton: rgb(150, 107, 28),
    border-boton: 2px solid black,
    color-text: white,
);